<div class="banner"><h1>Welcome to Employees R Us!</h1></div>
<div class="header">
  <div>
    <div style="display: flex;">
      <button class="topButtons" type="button" mat-button [routerLink]="['/addEmp', ]" routerLinkActive="active" ariaCurrentWhenActive="page">
        Add Employee
      </button>
    </div>
  </div>
  <div>
    <div style="display: flex;">
      <button class="topButtons" type="button" mat-button [routerLink]="['/editEmp', ]" routerLinkActive="active" ariaCurrentWhenActive="page">
        Edit Employee
      </button>
    </div>
  </div>
  <div>
    <div style="display: flex;">
      <button class="topButtons" type="button" mat-button [routerLink]="['/addUser', ]" routerLinkActive="active" ariaCurrentWhenActive="page">
        Add user
      </button>
    </div>
  </div>
  <div>
    <div style="display: flex;">
      <button class="topButtons" type="button" mat-button (click)="logout()" [routerLink]="['/login', ]" routerLinkActive="active" ariaCurrentWhenActive="page">
        Logout
      </button>
    </div>
  </div>
  

</div>


<div class="container">
  <span>
    <ng-container *ngIf="userStatus">
      <app-emp-list></app-emp-list>
    </ng-container>
  </span> 
  <span class="mainInfo">
    <ng-container *ngIf="userStatus">
      <app-emp-details />
    </ng-container>
  </span>
  <span class="mainInfo">
    <router-outlet></router-outlet>
  </span>
</div>

<div class="banner">
  <p>Created by: David Fortich (101314570)</p>
</div>

  


